<!DOCTYPE html>
<html>
  <head>
    <title>Mammoth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= yield %>
    <footer>
      <%= image_tag("mammoth_logo.jpg", alt: "Logo") %>
      <br>
      <p>© 2016 Mammoth Lacrosse Ltd.</p>
      <%= link_to image_tag("twitter.png", alt: "Twitter"), "http://www.twitter.com/mammothlaxclub", target: "_blank" %>
      <%= link_to image_tag("instagram.png", alt: "Instagram"), "http://www.instagram.com/mammothlacrosseclub", target: "_blank" %>
    </footer>
  </body>
</html>
